*{
	//
}

body{
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	background-color: #afafaf;
	margin: 0;
}

button:focus {outline:0;}

h1 {
	color: white;
	background-color: #282828;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

.display{
	margin-top: 10px;
	margin-left: 30px
	margin-right: 30px;
	padding: 5px;
	display: inline-block;
	content-background: green;
}

.center{
	text-align: center;
}

.marginAuto{
	margin-left: auto;
	margin-right: auto;
}

.border{
	border: solid white 3px;
}

.rock-img {
	height: 150px;
	width: 150px;
	//background-image: url(imgs/rock.png);
	//background-size: 150px 150px;
	background-color: green;
	font-size: 80px;
	border-radius: 50%;
	border: 3px solid green ;
	box-shadow: grey 0 10px;
}

.paper-img {
	height: 150px;
	width: 150px;
	/*background-image: url(imgs/paper.png);
	background-size: 150px 150px;*/
	border-radius: 50%;
	border: 3px solid green ;
	background-color: green;
	box-shadow: grey 0 10px;
	font-size: 80px;
}

.scissors-img {
	height: 150px;
	width: 150px;
	/*background-image: url(imgs/scissors.png);
	background-size: 150px 150px;*/
	border-radius: 50%;
	border: 3px solid green ;
	background-color: green;
	box-shadow: grey 0 10px;
	font-size: 80px;
}
/*
.notPressed {
	box-shadow: 0 5px;

}*/


button:hover {
	transform: translateY(-3px);
	box-shadow: grey 0 13px;
	background-color: rgb(24, 86, 0);
	border: 3px solid rgb(24, 86, 0) ;
}

button:active {
	transform: translateY(5px);
	box-shadow: dimgrey 0 5px;
}

.margin {
	
	margin-left: 10px;
	margin-right: 10px;
}

#counter1 {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 4em;
	background-color: black;
	color: white;
}

#counter2 {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 4em;
	background-color: black;
	color: white;
}

.opponent {
	width: 70px;
	background-color: red;
	color: white;
	border: solid 3px #9e0e0e;
}

.user {
	width: 70px;
	background-color: green;
	border: #045b06 3px solid;
	color: white;
}

#buttonContainer {
	margin-top: 100px;
}

#status {
	margin-top: 35px;
}

#scoreBoard {
	background-color: blue;
	border: solid 3px #00009b ;
	margin-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#status {
	background-color: blue;
	border: solid 3px #00009b ;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	font-size: 2em;
	background-color: blue;
	color: white;
}